#table{
  border: 2px solid black;
  background-color: rgb(49, 49, 49);
}

:root {
  --reactive_nonmetal: #0e0bd6;
}

:root {
  --alkalai_metal: #8f2222;
}

:root {
  --metalloid: #1e8ed8;
}

:root {
  --post_transition_metal: #21be1c;
}

:root {
  --transition_metal: #ddda1c;
}

:root {
  --alkaline_earth_metal: #ca7819;
}

:root {
  --unknown_properties: #8f8b88;
}

:root {
  --nobel_gasses: #a828cf;
}

:root {
  --lanthanides: #f5c645;
}

:root {
  --actinides: #5a7fe4;
}

/*BROWER*/

body {
  display: flex;
  flex-direction: row;
}

#boil{
  justify-content: flex-start;
  position: absolute;
  top: 28%;
  left: 2%;
  font-weight: bolder;
}

#chart{
  border-style: solid;
  border-color: black;
}

#electrons{
  justify-content: flex-start;
  position: absolute;
  top: 42%;
  left: 2%;
  font-weight: bolder;
}

#sheet {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 20px;
}

#mass {
  justify-content: flex-start;
  position: absolute;
  top: 21%;
  left: 2%;
  font-weight: bolder;
}

#melt {
  justify-content: flex-start;
  position: absolute;
  top: 35%;
  left: 2%;
  font-weight: bolder;
}

#name {
  justify-content: flex-start;
  position: absolute;
  left: 2%;
  font-weight: bolder;
}

#number {
  justify-content: flex-start;
  position: absolute;
  top: 7%;
  left: 2%;
  font-weight: bolder;
}

#protons {
  justify-content: flex-start;
  position: absolute;
  top: 49%;
  left: 2%;
  font-weight: bolder;
}

#stuff {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 50;
}

#symbol {
  justify-content: flex-start;
  position: absolute;
  top: 14%;
  left: 2%;
  font-weight: bolder;
}
